.quiz-button {
    background-image: url('../assets/lightpurp.png');
    color: white;
    font-size: 1rem;
    font-weight: 600;
    padding: 12px 24px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    width: 45%;
    margin: 10px auto;
    transition: all 0.2s ease;
}

.quiz-button:hover {
    transform: scale(1.05);
    transition: all 0.15s ease;
    font-weight: 700;
}

.quiz-button:active {
    transform: scale(0.95);
    transition: all 0.1s ease;
}

.retake-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 8px;
    margin-top: 25px;
}