.score-card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 20px;
}

.circular-progress {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.circular-progress::before {
  content: "";
  width: 170px;
  height: 170px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
}

.score-text-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #333;
}

.score-text-content span {
  font-size: 1rem;
  font-weight: 500;
  color: #555;
}

.score-text-content h1 {
  font-size: 3.5rem;
  font-weight: 700;
  color: #333;
  margin: 0;
}

.score-congratulations {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
  margin-top: 25px;
}

.score-summary-text {
  font-size: 1rem;
  color: #555;
  margin-top: 5px;
}